.posts__wrapper {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.post {
  width: 35%;
  margin: 25px auto;
  text-align: end;
}

.post:nth-child(1) {
  margin-top: 70px;
}

.show__more {
  width: 12%;
  margin: 0 auto;
  margin-bottom: 25px;
}

mat-card-title {
  text-align: center;
}

mat-card-header {
  justify-content: center;
}
